@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.group:before,
.group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  margin: 0 auto;
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.container {
  margin: auto; }

.title_type svg {
  width: 30px; }

.odkaz {
  display: block;
  text-decoration: none;
  font-size: 6px;
  color: #e5e5e5c7;
  position: absolute;
  top: 0px; }

h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
  width: 445px;
  margin: 0 auto;
  margin-bottom: 0em;
  color: #fff; }

h2 {
  font-size: 18px;
  width: 240px;
  height: 65px;
  margin: auto;
  margin-top: 0.5em; }

.panel-title {
  font-size: 18px;
  padding: 0.3em 0 0 0.5em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.3em;
  font-weight: bold; }

.logo {
  font-family: 'Galada', cursive;
  margin: 0.1em 0 0.1em 0;
  font-size: 4em;
  font-weight: bold;
  color: #ffff; }

.logo-footer {
  font-family: 'Galada', cursive;
  margin: 0.1em 0 0.1em 0;
  font-size: 35px;
  font-weight: bold;
  color: #ffc546; }

.tag {
  font-size: 15px;
  font-weight: 500; }

header {
  margin: 0 auto;
  text-align: center;
  height: 144px; }

.content {
  display: flex;
  min-height: 100vh;
  justify-content: flex-start; }

.search-form {
  padding: 1em 0 2em 0; }

.search-bar {
  width: 320px;
  padding: 11px;
  border-radius: 10px 0 0 10px; }

input[type="text"], input[type="password"], textarea, select {
  outline: none; }

.search-button {
  background: #ffaf00;
  height: 44px;
  border: none;
  border-bottom: 2px solid #ffaf00;
  padding: 11px 13px;
  color: white;
  border-radius: 0 10px 10px 0; }

input[type=text] {
  border: none;
  border-bottom: 2px solid #ffaf00; }

.search-button svg {
  width: 25px;
  vertical-align: middle; }

.recipes {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 2em 0 0 0; }

.container-recipes {
  width: 100%;
  background-color: #fff;
  border-radius: 15px; }

.button-view {
  color: #242424; }

.recipe {
  display: flex;
  width: 270px;
  height: fit-content;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 0 0 2em 0;
  background: white;
  flex-direction: column;
  align-items: center; }

.recipe:hover,
.recipe:focus {
  box-shadow: rgba(253, 181, 48, 0.829) 0px 1px 0px;
  transition: all .2s ease-in;
  transform: scale(1.03); }

.labels {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly; }

.labels p {
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 10px;
  font-weight: bold;
  background-color: #feffc1;
  color: #ffaf00;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px; }

.image {
  border-radius: 6% 6% 0 0; }

.panel-search {
  background-color: #ffc546;
  margin-bottom: -1em; }

.discover {
  width: 526px;
  text-align: center; }

.discover-content {
  width: 380px;
  text-align: center;
  margin: 0 auto; }

.panel-card {
  width: 400px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 #eaeaea;
  margin-bottom: 1em; }

.type_preference {
  padding: 2em 0 2em 0;
  border-radius: 15px;
  background: #ffff; }

.type_preference ul {
  margin: 0 auto;
  margin-top: 1em;
  width: 380px;
  padding-left: 0;
  text-align: left; }

.type_preference ul li {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1.1em; }

.tag {
  padding: 6px;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; }

.tag:focus,
.tag:hover {
  background: #ffaf00;
  color: #fff;
  box-shadow: rgba(255, 194, 62, 0.2) 0px 8px 24px; }

.tag--checked {
  background: #ffaf00;
  color: #fff; }

.filters_group {
  display: flex;
  justify-content: space-around; }

svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa.fa-w-14 {
  width: 0.875em; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em; }

img, svg {
  max-width: 100%; }

.title_type {
  display: flex;
  margin-left: 0.65em;
  padding: 0.2em; }

.preference-svg {
  width: 25px; }

.labels svg {
  width: 25px; }

/* Works on Firefox */
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

*::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

.content-wrap {
  width: 1412px;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.panel-wrap {
  overflow-y: scroll;
  height: 100vh;
  padding-right: 0.7em; }

.st0 {
  fill: #77CC00; }

.st1 {
  fill: #F4F7FA; }

.st2 {
  opacity: 0.7;
  fill: #F4F7FA;
  enable-background: new; }

.st3 {
  fill: #929497; }

.container-recipes {
  text-align: center; }

.view {
  padding: 0.5em 1.5em;
  background-color: #ffaf00;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  visibility: hidden;
  margin-bottom: 1em; }

.view-active {
  visibility: visible; }

.text-hidden {
  display: none; }

.bg-hidden {
  height: max-content !important; }

.view-active {
  -webkit-animation: cssAnimation 3.5s forwards;
  animation: cssAnimation 3.5s forwards; }

@keyframes cssAnimation {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.load-text {
  font-family: 'Caveat', cursive;
  width: 1000px;
  font-size: 4em;
  margin: auto;
  font-weight: 500;
  margin-top: 1em;
  color: #ffaf00; }

.arrow-left {
  fill: #ffaf00;
  width: 200px;
  margin: auto;
  margin-top: 2em; }

.footer {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5em; }

.footer p:last-child {
  font-size: 18px;
  margin: 0; }

#Layer_1 {
  max-width: 250px; }

/*# sourceMappingURL=style.css.map */
