html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.group:before,
.group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  margin: 0 auto;
  font-size: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  margin: auto; }

svg {
  width: 30px; }

h1 {
  font-size: 2em; }

.logo {
  font-family: 'Galada', cursive;
  margin: 0.2em 0 0.1em 0;
  font-size: 32px;
  font-weight: bold; }

header {
  margin: 0 auto;
  text-align: center; }

.content {
  display: flex;
  justify-content: center;
  min-height: 100vh; }

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-bar {
  border: none;
  padding: 10px; }

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white; }

.recipes {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.button-view {
  background: #bada55;
  padding: 0.6em;
  text-decoration: none;
  border-radius: 5px;
  color: #ffff; }

.button-view:hover,
.button-view:focus {
  color: #cccc; }

.recipe {
  display: flex;
  width: 250px;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #474747;
  margin: 15px;
  justify-content: flex-end;
  background: white;
  flex-direction: column;
  align-items: center; }

.view-recipe {
  display: flex; }

.labels {
  text-align: center;
  margin-bottom: 0.5em; }

.labels p {
  display: inline-block;
  margin: 0;
  font-size: 0.75em;
  padding: 0.5em;
  background-color: #feffc1;
  border-radius: 10px;
  font-weight: bold; }

.image {
  border-radius: 3% 3% 0 0;
  /* width: 100px;
  height: 100px; */ }

.panel-search {
  padding-top: 1em;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 10px 10px 0 0; }

.discover {
  width: 480px;
  text-align: center;
  background: #ffff;
  border-radius: 15px;
  margin-top: 0.75em; }

.discover-content {
  width: 380px;
  text-align: center;
  margin: 0 auto; }

.panel-card {
  width: 450px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(255, 176, 58, 0.651) 0px 1px 2px 0px, rgba(255, 176, 58, 0.651) 0px 1px 3px 1px;
  margin-bottom: 1em; }

.type_preference h2 {
  padding: 0.3em 0 0 0.3em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.3em; }

.type_preference {
  padding: 1em 0 1em 0;
  border-radius: 15px;
  background: #fff; }

.type_preference ul {
  margin: 0 auto;
  margin-top: 1em;
  width: 380px;
  padding-left: 0;
  text-align: left; }

.type_preference ul li {
  display: inline-block;
  margin-right: 0.4em;
  margin-bottom: 1.1em; }

.tag {
  padding: 6px;
  background: #ccc;
  border-radius: 5px; }

.tag:focus {
  background-color: yellow; }

.tag--checked {
  background: #54ce1c; }

.filters_group {
  display: flex;
  justify-content: space-around; }

svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa.fa-w-14 {
  width: 0.875em; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em; }

img, svg {
  max-width: 100%; }

.title_type {
  display: flex; }

.preference-svg {
  width: 25px; }

/*# sourceMappingURL=style.css.map */
