//-----------COLORS-------------

.search-button {
    background: #ffaf00;
    border-bottom: 2px solid #ffaf00;
    color: white;
}

.container-recipes {
    background-color: #fff;
}

.button-view {
    color: #242424;
  }

.recipe {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.recipe:hover,
.recipe:focus {
  box-shadow: rgba(253, 181, 48, 0.829) 0px 1px 0px;
}

.labels p {
    background-color: #feffc1;
    color: #ffaf00;
    box-shadow: rgba(0, 0, 0, 0.10) 1.95px 1.95px 2.6px;
}

.panel-search {
    background-color: #ffc546;
}

.panel-card {
    background: #fff;
    box-shadow: 0 8px 12px 0 #eaeaea;
}

.type_preference {
    background: #ffff;
}

.tag:focus,
.tag:hover {     
  background:#ffaf00;
  color: #fff;
  box-shadow: rgba(255, 194, 62, 0.2) 0px 8px 24px;
}

.tag--checked {
  background: #ffaf00;
  color: #fff;
}

.tag {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

////@at-root*::-webkit-scrollbar-track
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.st0{fill:#77CC00;}
.st1{fill:#F4F7FA;}
.st2{opacity:0.7;fill:#F4F7FA;enable-background:new    ;}
.st3{fill:#929497;}

.view {
    background-color: #ffaf00;
    color: #fff;
}

.load-text {
    color: #ffaf00;
}

.arrow-left {
  fill:#ffaf00;
}
