// ---------------CONTENT--------------
.content {
    display: flex;
    // justify-content: center;
    min-height: 100vh;
    justify-content: flex-start;
    // justify-content: flex-end;
  }

  // .content-wrap {
  //   margin: 0 auto;
  // }
  
  // .search-form {
  //   min-height: 10vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .search-form {
    padding: 1em 0 2em 0;
  }
  
  .search-bar {
    width: 70%;
    padding: 11px;
    border-radius: 10px 0 0 10px;
  }

  input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}
  
  .search-button {
    background: #ffaf00;
    height: 44px;
    border: none;
    border-bottom: 2px solid #ffaf00;
    padding: 11px 13px;
    color: white;
    border-radius: 0 10px 10px 0;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid #ffaf00;
  }

  .search-button svg {
    width: 25px;
    vertical-align: middle;
  }
  
  .recipes {
    max-width: 92%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // overflow: scroll;
    margin: auto;
    padding: 2em 0 0 0;
  }

  .container-recipes {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
  }

  .button-view {
    color: #242424;
  }

  .recipe {
    display: flex;
    width: 270px;
    height: fit-content;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 0 0 2em 0;
    // justify-content: flex-end;
    background: white;
    flex-direction: column;
    align-items: center;
}

.recipe:hover,
.recipe:focus {
  // box-shadow: rgba(253, 181, 48, 0.829) 0px 3px 8px;
  box-shadow: rgba(253, 181, 48, 0.829) 0px 1px 0px;
  transition: all .2s ease-in;
  transform: scale(1.03);
}

.labels {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.labels p {
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 10px;
  font-weight: bold;
  background-color: #feffc1;
  color: #ffaf00;
  box-shadow: rgba(0, 0, 0, 0.10) 1.95px 1.95px 2.6px;
}

.image {
    border-radius: 6% 6% 0 0;
}

.panel-search {
  // padding-top: 0.5em;
  // border-radius: 10px 10px 0 0;
  background-color: #ffc546;
  margin-bottom: -1em;
}

.discover {
  // width: 480px;
  // width: 526px;
  // width: 485px;
  // width: 470px;
  text-align: center;
  // background: #ffff;
  // border-radius: 15px;
  // border: 2px solid #ffbf3596;
  // box-shadow: rgba(255, 174, 54, 0.527) 1.95px 1.95px 2.6px;  
}

.discover-content {
  width: 380px;
  text-align: center;
  margin: 0 auto;
}

.panel-card {
  width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    // box-shadow: rgba(196, 196, 196, 0.651) 0px 1px 2px 0px, rgba(192, 192, 192, 0.651) 0px 1px 3px 1px;
    box-shadow: 0 8px 12px 0 #eaeaea;
    margin-bottom: 1em;
}

.type_preference {
  padding: 2em 0 2em 0;
  border-radius: 15px;
    // background: #ffee9df7;;
    background: #ffff;
}

.type_preference ul {
  margin: 0 auto;
  margin-top: 1em;
  width: 88%;
  padding-left: 0;
  text-align: left;
}

.type_preference ul li {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1.1em;
}

.tag {
  padding: 0.5em 0.8em;
  // background: #ccc;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.tag:focus,
.tag:hover {     
  background:#ffaf00;
  color: #fff;
  box-shadow: rgba(255, 194, 62, 0.2) 0px 8px 24px;
}

.tag--checked {
  background: #ffaf00;
  color: #fff;
}


.filters_group {
  display: flex;
  justify-content: space-around;
}


svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

img, svg {
  max-width: 100%;
}

.title_type  {
  display: flex;
  margin-left: 0.65em;
  padding: 0.2em;
}

.preference-svg {
  width: 25px;
}

.labels svg {
  width: 25px;
}

/* Works on Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }

/* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 1em;
// }

// *::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

// *::-webkit-scrollbar-thumb {
//   background-color: rgba(253, 215, 110, 0.753);
//   border-radius: 20px;
// }

// .recipes {
//   overflow-x: scroll
// }


///
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.content-wrap {
  // width: 1412px;
  // width: 1442px;
  width: 70%;
  overflow-y: scroll;
  height: 100vh;
  // padding: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-wrap {
  width: 30%;
  overflow-y: scroll;
  height: 100vh;
  // padding-right: 0.7em;
}

.st0{fill:#77CC00;}
	.st1{fill:#F4F7FA;}
	.st2{opacity:0.7;fill:#F4F7FA;enable-background:new    ;}
	.st3{fill:#929497;}


  .container-recipes {
    text-align: center;
  }

  .view {
    padding: 0.5em 1.5em;
    background-color: #ffaf00;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    visibility: hidden;
    margin-bottom: 1em;
  }

  .view-active {
    visibility: visible;
  }

  .text-hidden {
    display: none;
  }

  .bg-hidden {
    // background-image: none!important;
    height: max-content!important;
  }

  .view-active {
    -webkit-animation: cssAnimation 2s forwards; 
    animation: cssAnimation 2s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}

.load-text {
    font-family: 'Caveat', cursive;
    width: 75%;
    font-size: 4em;
    margin: auto;
    font-weight: 500;
    margin-top: 1em;
    color: #ffaf00;
}

.arrow-left {
  fill:#ffaf00;
  width: 15%;
  margin: auto;
  margin-top: 2em;
}

.copyright {
  color: #242424;
}

// ---------- MEDIA QUERIES ------


@media screen and (max-width: 1760px) {
  .panel-card {
    width: 90%;
  }

  .load-text {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1550px) {
  .type_preference ul {
    width: 95%;
  }

  .load-text {
    width: 85%;
  }
}

@media screen and (max-width: 1400px) {
  h1 {
    width: 90%;
  }

  .load-text {
    width: 90%;
  }

  .recipes {
    max-width: 95%;
  }

  header {
    height: 194px;
  }

  .head-bg {
    height: 194px!important;
  }

  .logo {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 1270px) {
  // .recipe {
  //   width: 235px;
  // }

  .recipe {
    width: 30%;
  }

  .labels svg {
    width: 20px;
  }

  .labels p {
    margin-top: 0.2em;
    font-size: 0.65em;
  }

  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1100px) {
  .tag {
    padding: 0.3em 0.3em;
  }

  .search-form input {
    font-size: 0.7em;
  }

  .search-button svg {
    width: 20px;
  }

  .search-button {
    height: unset;
    padding: 0.4em 0.6em;
  }

  .load-text {
    font-size: 3em;
  }

  .labels svg {
    width: 17px;
  }

  .labels p {
    font-size: 0.6em;
  }

  header {
    height: 187px;
  }

  .head-bg {
    height: 187px!important;
  }

  .logo {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 1000px) {
  .recipe {
    width: 250px;
  }

  .recipes {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 890px) {
  .recipes {
    justify-content: space-around;
  }
  .panel-card {
    width: 95%;
  }

  .type_preference ul {
    margin-top: 0.8em;
  }

  h1 {
    font-size: 2em;
  }

  .footer {
    max-width: 95%!important;
    margin-top: 0em!important;
  }

  .footer p:last-child {
    font-size: 1em!important;
  }

  .logo-footer {
    font-size: 2em;
  }

  .load-text {
    width: 90%;
    font-size: 2em;
  }

  .head-bg {
    height: 169px !important;
  }
}

@media screen and (max-width: 800px) {
  .recipe {
    width: 230px;
  }

  .recipes {
    max-width: 100%;
  }
}

@media screen and (max-width: 755px) {
  .content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .panel-wrap {
    width: 100%;
    overflow-y: hidden;
    order: 2;
  }

  .content-wrap {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  // .recipes {
  //   max-width: 90%;
  // }

  .recipe {
    width: 240px;
    margin-right: 1em;
  }

  .recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
    max-width: 16%;
    justify-content: flex-start;
  }

  .view {
    margin-top: 1em;
  }

  .container-recipes {
    width: auto;
  }

  .container-bg {
    height: unset!important;
  }

  .panel-wrap {
    height: unset;
  }

  .content-wrap {
    height: unset;
  }

  .recipe a {
    width: 205px;
  }

  .arrow-left svg {
    transform: rotate(268deg);
  }
}

@media screen and (max-width: 670px) {
  .recipe a {
    width: 195px;
  }

  .recipes {
    max-width: 10%;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    font-size: 3.5em;
    margin-top: 0.7em;
  }

  .panel-search {
    padding-top: 0.5em;
  }

  .recipes {
    max-width: 7%;
  }
}

@media screen and (max-width: 400px) {
  .load-text {
    font-size: 1.5em;
  }

  .logo {
    font-size: 3.1em;
    margin-top: 0.8em
  }
}




