//-----------MIXINS-------------

@mixin box-sizing( $value ) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}

@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}